/* resources/css/styles.css */

.btn-edit {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    margin-right: 5px;
}

.btn-delete {
    background-color: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.btn-read {
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: none;
    margin-right: 5px;
}
